@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Comfortaa', 'sans-serif';
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* background-color: #e6edff; */
  background: linear-gradient(#fff100, #ff9999, #9999ff);
  background-attachment: fixed;
  overflow-x: hidden;
}
.wrapper {
  /* background-color: #ccdbff; */
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  max-width: 1000px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  width: 100%;
  flex-direction: column;
}
input {
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 10px;
}
input:focus,
input:hover,
textarea:hover,
textarea:focus,
button:hover,
button:focus {
  box-shadow: 0 0 10px #000;
  outline: none;
}
label {
  line-height: 2rem;
}
.form-content {
  margin: 1rem;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 2rem;
  border: 5px solid #4d0000;
  border-radius: 20px;
}
.form-content h1 {
  text-align: center;
  margin: 0.25rem 0;
  font-size: 36px;
}
.form-content button {
  height: 40px;
  margin-top: 1rem;
  border-radius: 10px;
}
textarea {
  border-radius: 10px;
  padding: 0.4rem;
}

/* Java-List Style modifications  */
.input-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  transform: translateX(5%);
}
.input-wrapper button {
  transform: translateX(-100%);
  border-radius: 0 10px 10px 0;
}
.fruit-content-wrap {
  width: 700px;
}

.fruit-content-wrap h3 {
  text-align: center;
}
.fruit-list {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 18px;
}
.fruit-list li {
  margin: 2rem 0 2rem 0;
}
.fruit-span {
  display: inline-block;
}
.li-content-wrap {
  display: flex;
  align-items: center;
}
.li-content-wrap button {
  flex: 1;
  font-size: 20px;
  padding: 20px;
  border-radius: 20px;
  /* transform: translateY(-25%); */
}
.li-content-wrap button.down {
  margin-right: 10px;
  margin-left: 10px;
}
.li-content-wrap .fruit-span {
  flex: 3;
}
